.wrapper_with_padding
  #notes.clearfix
    - unless @notes.blank?
      - @notes.each do |note|
        %a{ href: (url_for [note])}
          .note
            %p.title= note.title
            %p.date= time_ago_in_words(note.created_at)
    - else
      %h2 Add an Idea
      %p No ideas? Give it a second - it'll come to you... Create a new idea below when you ready.
      %button= link_to "New Idea", new_note_path, class: "button"
